<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="aubo_i5" >

  <property name="prefix" value=""/>
  <property name="M_PI" value="3.14159265359" />
  <!-- common stuff -->
  <xacro:include filename="$(find aubo_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find aubo_description)/urdf/aubo_i5.urdf.xacro" />

  <!-- photoneo camera -->
  <xacro:include filename="$(find phoxi_camera)/urdf/PhoXi3Dscanner_values.xacro"/> <!--Scanner values-->
  <xacro:include filename="$(find phoxi_camera)/urdf/PhoXi3Dscanner_macro.xacro"/>  <!--Scanner macro-->

  <!-- workplatform-->
  <xacro:include filename="$(find ur_description)/urdf/platform.urdf.xacro" />


  <!-- arm -->
  <xacro:aubo_i5_robot/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "box" />
    <origin xyz="0.0 0.0 -${boxz}" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- photoneo camare -->
  <xacro:PhoXi3Dscanner scanner_name = "PhoXi3Dscanner" sensor_parent = "base_link" sensor_name = "PhoXi3Dscanner_sensor" >
      <origin xyz="0.3701947 -0.88796907 0.49853821" rpy="-2.54383012747886 0.19148351856670115 0.20962739482664153" /> <!--PhoXi3Dscanner origin-->
      <xacro:PhoXi3DscannerS_default_sensor_origin /> <!--Extrinsic calibration data-->
      <xacro:PhoXi3DscannerS_meshes /> <!--meshes-->
  </xacro:PhoXi3Dscanner>

  <!-- workplatform -->
  <xacro:boxbase child="base_link" >
    <origin xyz="0.0 0.0 ${boxz}" rpy="0.0 0.0 0.0"/>
  </xacro:boxbase>

</robot>
